<%- include("header") -%>

<div class="box" id="heading">
 <h1>About Us</h1>
 </div>
 <div class="box">
<p>I am learner<br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio totam nostrum consectetur sint aliquam ratione soluta quaerat vel, tempore voluptate dolore molestiae nemo blanditiis delectus? Iusto illum sed illo excepturi.</p>
</div>

<%- include("footer") -%>